<div class="row h-100">
  <div class="col-9">
      <div class="w-100 h-100">
          <app-nav></app-nav>
          <div class="w-100 h-100 container-general py-3">
              <div class="row">
                  <div class="col-12 mb-3" *ngIf="registrar">
                      <div class="w-100 rounded-4 bg-gris p-3">
                          <h5 class="py-2 px-3 rounded-pill bg-negro color-b " style="width: fit-content;">Registrar Usuario</h5>
                          <form class="w-100 " [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                              <div class="row">
                                  <div class="col-4 mb-4">
                                      <input type="text" placeholder="Nombre Completo"
                                      formControlName="fullName"
                                      class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                      <div class="form-text ms-1">
                                          Ingresa el nombre completo, nombres y apellidos.
                                      </div>
                                  </div>
                                  
                                  <div class="col-3 mb-4">
                                      <input type="email" placeholder="Correo Electrónico"
                                      formControlName="email"
                                      class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                      <div class="form-text ms-1">
                                          Ingresa un correo electónico valido.
                                      </div>
                                  </div>
                                    <div class="col-3 mb-4">
                                        <input type="text" placeholder="Teléfono"
                                        formControlName="telefono"
                                        class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                        <div class="form-text ms-1">
                                        Ingresa el telefono del usuario.
                                        </div>
                                    </div>
                                <div class="col-2 mb-2">
                                    <select formControlName="suscripción" class="form-select rounded-4 p-3 focus-ring focus-ring-light border">
                                        <option value="Pago">Pago</option>
                                        <option value="Gratuito">Gratuito</option>
                                      </select>
                                    <div class="form-text ms-1">
                                        Especifica el tipo de suscripción.
                                    </div>
                                </div>
                                <div class="col-3 mb-4">
                                    <input type="date" placeholder="Fecha Nacimineto"
                                    formControlName="datebirth"
                                    class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                    <div class="form-text ms-1">
                                    Ingresa la fecha de nacimiento del usuario.
                                    </div>
                                </div>
                                <div class="col-3 mb-4">
                                    <input type="text" placeholder="Dirección"
                                    formControlName="direccion"
                                    class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                    <div class="form-text ms-1">
                                      Ingresa la dirección del usuario.
                                    </div>
                                  </div>
                                  <div class="col-3 mb-2">
                                    <select formControlName="estado" class="form-select rounded-4 p-3 focus-ring focus-ring-light border">
                                        <option value="Aguascalientes">Aguascalientes</option>
                                        <option value="Baja California">Baja California</option>
                                        <option value="Baja California Sur">Baja California Sur</option>
                                        <option value="Campeche">Campeche</option>
                                        <option value="Chiapas">Chiapas</option>
                                        <option value="Chihuahua">Chihuahua</option>
                                        <option value="Ciudad de México">Ciudad de México</option>
                                        <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                                        <option value="Colima">Colima</option>
                                        <option value="Durango">Durango</option>
                                        <option value="Guanajuato">Guanajuato</option>
                                        <option value="Guerrero">Guerrero</option>
                                        <option value="Hidalgo">Hidalgo</option>
                                        <option value="Jalisco">Jalisco</option>
                                        <option value="Estado de México">Estado de México</option>
                                        <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                                        <option value="Morelos">Morelos</option>
                                        <option value="Nayarit">Nayarit</option>
                                        <option value="Nuevo León">Nuevo León</option>
                                        <option value="Oaxaca">Oaxaca</option>
                                        <option value="Puebla">Puebla</option>
                                        <option value="Querétaro">Querétaro</option>
                                        <option value="Quintana Roo">Quintana Roo</option>
                                        <option value="San Luis Potosí">San Luis Potosí</option>
                                        <option value="Sinaloa">Sinaloa</option>
                                        <option value="Sonora">Sonora</option>
                                        <option value="Tabasco">Tabasco</option>
                                        <option value="Tamaulipas">Tamaulipas</option>
                                        <option value="Tlaxcala">Tlaxcala</option>
                                        <option value="Veracruz">Veracruz</option>
                                        <option value="Yucatán">Yucatán</option>
                                        <option value="Zacatecas">Zacatecas</option>
                                      </select>
                                    <div class="form-text ms-1">
                                        Especifica el estado de residencia del usuario.
                                    </div>
                                </div>

                                <div class="col-3 mb-4">
                                    <input type="text" placeholder="Código Postal"
                                    formControlName="cp"
                                    class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                    <div class="form-text ms-1">
                                      Ingresa el código postal del usuario.
                                    </div>
                                  </div>
                                  <div class="col-3 mb-2">
                                      <input type="text" placeholder="Contraseña"
                                      formControlName="password"
                                      class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                      <div class="form-text ms-1">
                                         Ingresa la contraseña del usuario.
                                      </div>
                                  </div>  
                                  <div class="col-3 mb-2">
                                      <select formControlName="genero" class="form-select rounded-4 p-3 focus-ring focus-ring-light border">
                                          <option value="Masculino">Masculino</option>
                                          <option value="Femenino">Femenino</option>
                                        </select>
                                      <div class="form-text ms-1">
                                          Especifica el genero del usuario.
                                      </div>
                                  </div>
                                  <div class="col-2 mb-2">
                                      <button type="submit" class="w-100 rounded-pill py-2 px-3 d-flexeo d-row gap-2 btn-genera-crud btn-guardar border border-0 trans">
                                          <i class='bx bxs-plus-circle'></i> Agregar
                                      </button>
                                  </div>
                                  <div class="col-4 mb-2">
                                      <div *ngIf="fatal" class="w-100 alert alert-danger text-center" role="alert">
                                          Verifica los datos.
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="col-12 mb-3" *ngIf="actualizar">
                      <div class="w-100 h-100 rounded-4 bg-gris p-3 container-table-user overflow-hidden h-auto">
                          <h5 class="py-2 px-3 rounded-pill bg-negro color-b " style="width: fit-content;">Actualizar Usuario</h5>
                          <form class="w-100 " [formGroup]="updateForm" (ngSubmit)="sendeditedData()">
                            <div class="row">
                                <div class="col-4 mb-4">
                                    <input type="text" placeholder="Nombre Completo"
                                    formControlName="fullName"
                                    class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                    <div class="form-text ms-1">
                                        Ingresa el nombre completo, nombres y apellidos.
                                    </div>
                                </div>
                                <input type="hidden" formControlName="id_user">
                                <div class="col-3 mb-4">
                                    <input type="email" placeholder="Correo Electrónico"
                                    formControlName="email"
                                    class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                    <div class="form-text ms-1">
                                        Ingresa un correo electónico valido.
                                    </div>
                                </div>
                                  <div class="col-3 mb-4">
                                      <input type="text" placeholder="Teléfono"
                                      formControlName="telefono"
                                      class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                      <div class="form-text ms-1">
                                      Ingresa el telefono del usuario.
                                      </div>
                                  </div>
                              <div class="col-2 mb-2">
                                  <select formControlName="suscripción" class="form-select rounded-4 p-3 focus-ring focus-ring-light border">
                                      <option value="Pago">Pago</option>
                                      <option value="Gratuito">Gratuito</option>
                                    </select>
                                  <div class="form-text ms-1">
                                      Especifica el tipo de suscripción.
                                  </div>
                              </div>
                              <div class="col-3 mb-4">
                                  <input type="date" placeholder="Fecha Nacimineto"
                                  formControlName="datebirth"
                                  class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                  <div class="form-text ms-1">
                                  Ingresa la fecha de nacimiento del usuario.
                                  </div>
                              </div>
                              <div class="col-3 mb-4">
                                  <input type="text" placeholder="Dirección"
                                  formControlName="direccion"
                                  class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                  <div class="form-text ms-1">
                                    Ingresa la dirección del usuario.
                                  </div>
                                </div>
                                <div class="col-3 mb-2">
                                  <select formControlName="estado" class="form-select rounded-4 p-3 focus-ring focus-ring-light border">
                                      <option value="Aguascalientes">Aguascalientes</option>
                                      <option value="Baja California">Baja California</option>
                                      <option value="Baja California Sur">Baja California Sur</option>
                                      <option value="Campeche">Campeche</option>
                                      <option value="Chiapas">Chiapas</option>
                                      <option value="Chihuahua">Chihuahua</option>
                                      <option value="Ciudad de México">Ciudad de México</option>
                                      <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                                      <option value="Colima">Colima</option>
                                      <option value="Durango">Durango</option>
                                      <option value="Guanajuato">Guanajuato</option>
                                      <option value="Guerrero">Guerrero</option>
                                      <option value="Hidalgo">Hidalgo</option>
                                      <option value="Jalisco">Jalisco</option>
                                      <option value="Estado de México">Estado de México</option>
                                      <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                                      <option value="Morelos">Morelos</option>
                                      <option value="Nayarit">Nayarit</option>
                                      <option value="Nuevo León">Nuevo León</option>
                                      <option value="Oaxaca">Oaxaca</option>
                                      <option value="Puebla">Puebla</option>
                                      <option value="Querétaro">Querétaro</option>
                                      <option value="Quintana Roo">Quintana Roo</option>
                                      <option value="San Luis Potosí">San Luis Potosí</option>
                                      <option value="Sinaloa">Sinaloa</option>
                                      <option value="Sonora">Sonora</option>
                                      <option value="Tabasco">Tabasco</option>
                                      <option value="Tamaulipas">Tamaulipas</option>
                                      <option value="Tlaxcala">Tlaxcala</option>
                                      <option value="Veracruz">Veracruz</option>
                                      <option value="Yucatán">Yucatán</option>
                                      <option value="Zacatecas">Zacatecas</option>
                                    </select>
                                  <div class="form-text ms-1">
                                      Especifica el estado de residencia del usuario.
                                  </div>
                              </div>

                              <div class="col-3 mb-4">
                                  <input type="text" placeholder="Código Postal"
                                  formControlName="cp"
                                  class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                  <div class="form-text ms-1">
                                    Ingresa el código postal del usuario.
                                  </div>
                                </div>
                                <div class="col-3 mb-2">
                                    <input type="text" placeholder="Contraseña"
                                    formControlName="password"
                                    class="form-control rounded-4 p-3 focus-ring focus-ring-light border">
                                    <div class="form-text ms-1">
                                       Ingresa la contraseña del usuario.
                                    </div>
                                </div>  
                                <div class="col-3 mb-2">
                                    <select formControlName="genero" class="form-select rounded-4 p-3 focus-ring focus-ring-light border">
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                      </select>
                                    <div class="form-text ms-1">
                                        Especifica el genero del usuario.
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    <button type="submit" class="mb-2 w-100 rounded-pill py-2 px-3 d-flexeo d-row gap-0 btn-genera-crud btn-guardar border border-0 trans">
                                        <i class='bx bx-up-arrow-alt'></i> Actualizar
                                    </button>
                                    <button type="button" (click)="cancelEditing()" class="w-100 rounded-pill py-2 px-3 d-flexeo d-row gap-2 btn-genera-crud btn-elimianr border border-0 trans">
                                        <i class='bx bx-x-circle'></i> Cancelar
                                    </button>
                                </div>
                                <div class="col-4 mb-2">
                                    <div *ngIf="fatal" class="w-100 alert alert-danger text-center" role="alert">
                                        Verifica los datos.
                                    </div>
                                </div>
                            </div>
                        </form>
                      </div>
                  </div>

                  <div class="col-12 mb-3">
                        <div class="row h-100">

                             <div class="col-6 mb-3" *ngFor="let admin of adminsArray">
                                <div class="w-100 rounded-4 p-3 container-display bg-gris d-flexeo d-column gap-2">
                                    <div class="w-100 d-flexeo d-row gap-2 start-ali border-custom-4">
                                        <i class='bx bx-user rounded-circle p-2 bg-white d-flexeo'></i>
                                        <div class="d-flexeo d-column start-ali">
                                            <small>Nombre:  </small>
                                            <p><b> {{ admin.nombre }}</b></p>
                                        </div>
                                    </div>
                                    <div class="w-100 d-flexeo d-row gap-2 separre">
                                        <div class="d-flexeo d-column start-ali">
                                            <small>Correo electónico:  </small>
                                            <p><b> {{ admin.correo }}</b></p>
                                        </div>
                                        <div class="d-flexeo d-column start-ali">
                                            <small>Teléfono:  </small>
                                            <p><b> {{ admin.telefono }}</b></p>
                                        </div>
                                    </div>
                                    <div class="w-100 d-flexeo d-row gap-2 separre">
                                        <div class="d-flexeo d-column start-ali">
                                            <small>Estado:  </small>
                                            <p><b> {{ admin.estado }}</b></p>
                                        </div>
                                        <div class="d-flexeo d-column start-ali">
                                            <small>Genero:  </small>
                                            <p><b> {{ admin.genero }}</b></p>
                                        </div>
                                        <div class="d-flexeo d-column start-ali">
                                            <small>Nacimiento:  </small>
                                            <p><b> {{ admin.fecha_nacimiento }}</b></p>
                                        </div>
                                        <div class="d-flexeo d-column start-ali">
                                            <small>Suscripcion:  </small>
                                            <p><b> {{ admin.suscripcion }}</b></p>
                                        </div>
                                    </div>
                                    <div class="w-100 d-flexeo d-row gap-2 separre">
                                        <div class="d-flexeo d-column start-ali">
                                            <small>Dirección:  </small>
                                            <p><b> {{ admin.direccion }}</b></p>
                                        </div>
                                            <div class="d-flexeo d-row start-ali gap-2">
                                                <button (click)="editarUsersDash(admin.id)" type="button" 
                                            class="rounded-1 d-flexeo btn-genera-crud btn-editar gap-2 p-2 border border-0 trans m-0" 
                                            type="button">
                                                <i class='bx bxs-edit-alt'></i>  
                                            </button>
                                            <button (click)="deleteUsersDash(admin.id)" 
                                            class="rounded-1 d-flexeo btn-genera-crud btn-elimianr gap-2 p-2 border border-0 trans m-0" 
                                            type="button">
                                                <i class='bx bxs-trash'></i>
                                            </button>
                                        </div>
                                    </div>                                    
                                </div>
                             </div>
                             
                        </div>
                  </div>
              </div>                
          </div>
      </div>
  </div>
  <div class="col-3">
      <app-user-nav ></app-user-nav>
  </div>
</div>

